<div>
    <h2>
        <span jhiTranslate="lojaApp.pedidos.home.title">Pedidos</span>
        <button class="btn btn-primary float-right jh-create-entity create-pedidos" [routerLink]="['/', { outlets: { popup: ['pedidos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="lojaApp.pedidos.home.createLabel">
            Create new Pedidos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'lojaApp.pedidos.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pedidos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataPedido"><span jhiTranslate="lojaApp.pedidos.dataPedido">Data Pedido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoPedido"><span jhiTranslate="lojaApp.pedidos.tipoPedido">Tipo Pedido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descricao"><span jhiTranslate="lojaApp.pedidos.descricao">Descricao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cadastros.nome"><span jhiTranslate="lojaApp.pedidos.cadastros">Cadastros</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pedidos of pedidos ;trackBy: trackId">
                <td><a [routerLink]="['../pedidos', pedidos.id ]">{{pedidos.id}}</a></td>
                <td>{{pedidos.dataPedido | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'lojaApp.TipoPedido.' + pedidos.tipoPedido}}">{{pedidos.tipoPedido}}</td>
                <td>{{pedidos.descricao}}</td>
                <td>
                    <div *ngIf="pedidos.cadastros">
                        <a [routerLink]="['../cadastros', pedidos.cadastros?.id ]" >{{pedidos.cadastros?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pedidos', pedidos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedidos/'+ pedidos.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedidos/'+ pedidos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
