
<div *ngIf="localidades">
    <h2><span>Localidades</span> {{localidades.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cep</span></dt>
        <dd>
            <span>{{localidades.cep}}</span>
        </dd>
        <dt><span>Endereco</span></dt>
        <dd>
            <span>{{localidades.endereco}}</span>
        </dd>
        <dt><span>Bairro</span></dt>
        <dd>
            <span>{{localidades.bairro}}</span>
        </dd>
        <dt><span>Cidade</span></dt>
        <dd>
            <span>{{localidades.cidade}}</span>
        </dd>
        <dt><span>U F</span></dt>
        <dd>
            <span>{{localidades.uF}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'localidades/'+ localidades.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
