
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCadastrosLabel" translate="lojaApp.cadastros.home.createOrEditLabel">Create or edit a Cadastros</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cadastros.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cadastros.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lojaApp.cadastros.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.cadastros.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lojaApp.cadastros.tipoPessoa" for="field_tipoPessoa">Tipo Pessoa</label>
            <select class="form-control" name="tipoPessoa" ng-model="vm.cadastros.tipoPessoa" id="field_tipoPessoa" required>
                <option value="FISICA" translate="lojaApp.TipoPessoa.FISICA">FISICA</option>
                <option value="JURIDICA" translate="lojaApp.TipoPessoa.JURIDICA">JURIDICA</option>
            </select>
            <div ng-show="editForm.tipoPessoa.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoPessoa.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lojaApp.cadastros.tipoCadastro" for="field_tipoCadastro">Tipo Cadastro</label>
            <select class="form-control" name="tipoCadastro" ng-model="vm.cadastros.tipoCadastro" id="field_tipoCadastro" required>
                <option value="CLIENTE" translate="lojaApp.TipoCadastro.CLIENTE">CLIENTE</option>
                <option value="FORNECEDOR" translate="lojaApp.TipoCadastro.FORNECEDOR">FORNECEDOR</option>
                <option value="VENDEDOR" translate="lojaApp.TipoCadastro.VENDEDOR">VENDEDOR</option>
            </select>
            <div ng-show="editForm.tipoCadastro.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoCadastro.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lojaApp.cadastros.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.cadastros.email"
                    ng-maxlength="100" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lojaApp.cadastros.observacoes" for="field_observacoes">Observacoes</label>
            <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                    ng-model="vm.cadastros.observacoes"
                    ng-maxlength="500" />
            <div ng-show="editForm.observacoes.$invalid">
                <p class="help-block"
                    ng-show="editForm.observacoes.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
