
<div *ngIf="produtos">
    <h2><span jhiTranslate="lojaApp.produtos.detail.title">Produtos</span> {{produtos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lojaApp.produtos.descricao">Descricao</span></dt>
        <dd>
            <span>{{produtos.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.codigoEAN">Codigo EAN</span></dt>
        <dd>
            <span>{{produtos.codigoEAN}}</span>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.qtdeAtual">Qtde Atual</span></dt>
        <dd>
            <span>{{produtos.qtdeAtual}}</span>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.observacoes">Observacoes</span></dt>
        <dd>
            <span>{{produtos.observacoes}}</span>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.marcas">Marcas</span></dt>
        <dd>
            <div *ngIf="produtos.marcas">
                <a [routerLink]="['/marcas', produtos.marcas?.id]">{{produtos.marcas?.descricao}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.categorias">Categorias</span></dt>
        <dd>
            <div *ngIf="produtos.categorias">
                <a [routerLink]="['/categorias', produtos.categorias?.id]">{{produtos.categorias?.descricao}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.cores">Cores</span></dt>
        <dd>
            <div *ngIf="produtos.cores">
                <a [routerLink]="['/cores', produtos.cores?.id]">{{produtos.cores?.descricao}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="lojaApp.produtos.tamanhos">Tamanhos</span></dt>
        <dd>
            <div *ngIf="produtos.tamanhos">
                <a [routerLink]="['/tamanhos', produtos.tamanhos?.id]">{{produtos.tamanhos?.descricao}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produtos/'+ produtos.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
