<div>
    <h2 translate="lojaApp.produtos.home.title">Produtos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="produtos.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="lojaApp.produtos.home.createLabel">
                        Create new Produtos
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'lojaApp.produtos.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span translate="lojaApp.produtos.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigoEAN"><span translate="lojaApp.produtos.codigoEAN">Codigo EAN</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtdeAtual"><span translate="lojaApp.produtos.qtdeAtual">Qtde Atual</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observacoes"><span translate="lojaApp.produtos.observacoes">Observacoes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marcas.descricao"><span translate="lojaApp.produtos.marcas">Marcas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categorias.descricao"><span translate="lojaApp.produtos.categorias">Categorias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cores.descricao"><span translate="lojaApp.produtos.cores">Cores</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tamanhos.descricao"><span translate="lojaApp.produtos.tamanhos">Tamanhos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="produtos in vm.produtos track by produtos.id">
                    <td><a ui-sref="produtos-detail({id:produtos.id})">{{produtos.id}}</a></td>
                    <td>{{produtos.descricao}}</td>
                    <td>{{produtos.codigoEAN}}</td>
                    <td>{{produtos.qtdeAtual}}</td>
                    <td>{{produtos.observacoes}}</td>
                    <td>
                        <a ui-sref="marcas-detail({id:produtos.marcas.id})">{{produtos.marcas.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="categorias-detail({id:produtos.categorias.id})">{{produtos.categorias.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="cores-detail({id:produtos.cores.id})">{{produtos.cores.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="tamanhos-detail({id:produtos.tamanhos.id})">{{produtos.tamanhos.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="produtos-detail({id:produtos.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produtos.edit({id:produtos.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produtos.delete({id:produtos.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
