
<div *ngIf="itens">
    <h2><span>Itens</span> {{itens.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Qtde</span></dt>
        <dd>
            <span>{{itens.qtde}}</span>
        </dd>
        <dt><span>Valor</span></dt>
        <dd>
            <span>{{itens.valor}}</span>
        </dd>
        <dt><span>Valor Desconto</span></dt>
        <dd>
            <span>{{itens.valorDesconto}}</span>
        </dd>
        <dt><span>Pedidos</span></dt>
        <dd>
            <div *ngIf="itens.pedidos">
                <a [routerLink]="['/pedidos', itens.pedidos?.id]">{{itens.pedidos?.descricao}}</a>
            </div>
        </dd>
        <dt><span>Produtos</span></dt>
        <dd>
            <div *ngIf="itens.produtos">
                <a [routerLink]="['/produtos', itens.produtos?.id]">{{itens.produtos?.descricao}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'itens/'+ itens.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
