<div>
    <h2>
        <span>Itens</span>
        <button class="btn btn-primary float-right jh-create-entity create-itens" [routerLink]="['/', { outlets: { popup: ['itens-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Itens
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="qtde"><span>Qtde</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="valor"><span>Valor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="valorDesconto"><span>Valor Desconto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pedidos.descricao"><span>Pedidos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="produtos.descricao"><span>Produtos</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let itens of itens ;trackBy: trackId">
                <td><a [routerLink]="['../itens', itens.id ]">{{itens.id}}</a></td>
                <td>{{itens.qtde}}</td>
                <td>{{itens.valor}}</td>
                <td>{{itens.valorDesconto}}</td>
                <td>
                    <div *ngIf="itens.pedidos">
                        <a [routerLink]="['../pedidos', itens.pedidos?.id ]" >{{itens.pedidos?.descricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itens.produtos">
                        <a [routerLink]="['../produtos', itens.produtos?.id ]" >{{itens.produtos?.descricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../itens', itens.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'itens/'+ itens.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'itens/'+ itens.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
