<div>
    <h2 translate="lojaApp.itens.home.title">Itens</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="itens.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="lojaApp.itens.home.createLabel">
                        Create new Itens
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'lojaApp.itens.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtde"><span translate="lojaApp.itens.qtde">Qtde</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valor"><span translate="lojaApp.itens.valor">Valor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorDesconto"><span translate="lojaApp.itens.valorDesconto">Valor Desconto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pedidos.descricao"><span translate="lojaApp.itens.pedidos">Pedidos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produtos.descricao"><span translate="lojaApp.itens.produtos">Produtos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="itens in vm.itens track by itens.id">
                    <td><a ui-sref="itens-detail({id:itens.id})">{{itens.id}}</a></td>
                    <td>{{itens.qtde}}</td>
                    <td>{{itens.valor}}</td>
                    <td>{{itens.valorDesconto}}</td>
                    <td>
                        <a ui-sref="pedidos-detail({id:itens.pedidos.id})">{{itens.pedidos.descricao}}</a>
                    </td>
                    <td>
                        <a ui-sref="produtos-detail({id:itens.produtos.id})">{{itens.produtos.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="itens-detail({id:itens.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="itens.edit({id:itens.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="itens.delete({id:itens.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
