
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGradeProdutosLabel" translate="lojaApp.gradeProdutos.home.createOrEditLabel">Create or edit a Grade Produtos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gradeProdutos.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gradeProdutos.id" readonly />
        </div>

        <div class="form-group">
            <label translate="lojaApp.gradeProdutos.marcas" for="field_marcas">Marcas</label>
            <select class="form-control" id="field_marcas" name="marcas" ng-model="vm.gradeProdutos.marcas" ng-options="marcas as marcas.descricao for marcas in vm.marcas track by marcas.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="lojaApp.gradeProdutos.categorias" for="field_categorias">Categorias</label>
            <select class="form-control" id="field_categorias" name="categorias" ng-model="vm.gradeProdutos.categorias" ng-options="categorias as categorias.descricao for categorias in vm.categorias track by categorias.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="lojaApp.gradeProdutos.cores" for="field_cores">Cores</label>
            <select class="form-control" id="field_cores" name="cores" ng-model="vm.gradeProdutos.cores" ng-options="cores as cores.descricao for cores in vm.cores track by cores.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="lojaApp.gradeProdutos.tamanhos" for="field_tamanhos">Tamanhos</label>
            <select class="form-control" id="field_tamanhos" name="tamanhos" ng-model="vm.gradeProdutos.tamanhos" ng-options="tamanhos as tamanhos.descricao for tamanhos in vm.tamanhos track by tamanhos.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="lojaApp.gradeProdutos.produtos" for="field_produtos">Produtos</label>
            <select class="form-control" id="field_produtos" name="produtos" ng-model="vm.gradeProdutos.produtos" ng-options="produtos as produtos.descricao for produtos in vm.produtos track by produtos.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
